<script id="battle-waiting-template" type="text/x-handlebars-template">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="section-header text-center has--bg mb-0">
                <div class="header-image"><img src="{{ asset("build/images/elements/header-el-3.png") }}" alt="image"></div>
                <h2 class="section-title">Waiting for results</h2>
                <p>Curious about the battle result? A new battle will begin soon, and you will be able to see the result in the section below. Good luck!</p>
            </div>
        </div>
    </div><!-- row end -->
    <div class="row">
        <div class="col-lg-4 offset-lg-4 mt-5">
            <div class="about-thumb text-center">
                <img src="{{ asset('build/images/badges/04.png') }}" alt="about-image">
            </div>
        </div>
    </div>
</script>