<script id="wallet-disconnected-template" type="text/x-handlebars-template">
    <h3 class="title mb-4">Connect your wallet</h3>
    <div class="text-center mt-4">
        <div class="wallet">
            <a data-wallet="metamask" class="cmn-btn text-white wallet-type cursor">Metamask</a>
        </div>
        <div class="or-devider mt-4"><span>Help</span></div>
        <p class="text-center mt-2 mb-4"><a href="#">Learn how to buy</a></p>
    </div>
</script>