<script id="wallet-connected-template" type="text/x-handlebars-template">
    <h3 class="title mb-4">Wallet</h3>
    <div class="text-center mt-4">
        <div class="wallet">
            <a href="#0" class="wallet-address mt-1 mb-1 w-100 text-center text-black-50">{{ '{{' }} address {{ '}}' }}</a>
        </div>
    </div>
</script>